.outDiv
	width 100%
	.nav
		width 1190px
		height 40px
		background-color rgb(245,245,245)
		margin 0 auto
		border 1px solid rgb(232,232,232)
		&>ul
			float left
			li
				display inline-block
				height 38px
				line-height 38px
				font-size 14px
				color rgb(109,109,109)
				padding 0 20px
				float left
				border 1px solid rgb(245,245,245)
				&:hover
					background-color rgb(255,255,255)
					color rgb(255,85,0)
					cursor pointer
			.bdColor
				background-color rgb(255,255,255)
				color rgb(255,85,0)
				cursor pointer
				
		.price
			position relative
			float left
			padding-left 8px
			ul
				li
					float left
					line-height 34px
					input
						width 50px
						height 26px
						border 1px solid rgb(223,223,223)
						background-color rgb(255,255,255)
					.button
						width 50px
						height 26px
						margin-top 6px
						margin-left 6px
						background-color rgb(255,68,0)
						border-radius 5px
						color white
						line-height 26px
						display none
				.line
					padding 0 2px
			&:hover
				width 180px
				height 38px
				margin-left -1px
				margin-top -1px
				border 1px solid rgb(204,204,204)
				background-color rgb(255,255,255)
				.button
					display block
					&:hover
						background-color rgb(248,40,0)
		.area
			span
				position relative
				float right
				margin-right 250px
				height 38px
				font-size 14px
				color rgb(109,109,109)
				padding 0 20px
				border 1px solid rgb(245,245,245)
				line-height 38px
				&:hover
					color rgb(255,85,0)
					background-color rgb(255,255,255)
					border 1px solid rgb(204,204,204)
					cursor pointer
				&:hover .citys
					background-color rgb(255,255,255)
					color rgb(255,85,0)
					display block	
				.citys
					position absolute
					z-index 3
					left 0
					top 37px
					width 356px
					height 356px
					line-height 12px
					background-color white
					display none
					.sections
						width 356px
						height 356px
						border 1px solid rgb(204,204,204)
						div
							font-size 12px
							color rgb(109,109,109)
							a:hover
								color rgb(255,68,0)
								text-decoration underline
							.current
								font-size 14px
								font-weight bold
								color black		
						.section1
							margin-top 16px
							margin-left 16px
						.section2
							margin-left 16px
							margin-top 20px
							a
								padding-right 30px
						.section3
							margin-left 16px
							margin-top 12px
							a
								padding-right 17px
						.line
							height 1px
							width 352px
							margin-top 18px
							border-top 1px dashed #e0e0e0
						.section4
							margin-left 16px
							margin-top 10px
							a
								display inline-block
								margin-top 10px
								padding-right 17px
						.button
							margin-top 26px
							margin-left 16px
							.text
								width 178px
								height 22px
								border 1px solid rgb(223,223,223)
								font-size 12px
								line-height 12px
							.submit
								width 44px
								height 24px
								background-color rgb(255,68,0)
								border-radius 2px
								color white
								font-size 13px
								&:hover
									background-color rgb(248,40,0)
		.pages
			float right
			margin-top -26px
			margin-right 26px
			.span:hover
				color rgb(255,68,0)
				cursor pointer				
	.page
		width 100%
		.main
			width 1190px
			margin 30px auto
			.box1
				float left
				margin 0 16px 16px 0
				width 222px
				height 364px
				border 1px solid rgb(237,237,237)
				position relative
				transition all .3s linear
				&:hover
					transform translateY(-3px)
					border 1px solid rgb(255,68,0)
					box-shadow 0 10px 30px rgba(120,120,120,.5)
				a>img
					width 220px
					height 220px
				a
					display block
					width 220px
					height 220px
					&:hover .hidden
						transform translateY(-30px)
					.hidden
						width 220px
						height 30px
						background-color rgba(255,68,0,.7)
						position absolute
						top 220px
						transition all .2s linear
						z-index 1
						span
							display block
							float left
							width 110px
							height 30px
							text-align center
							font-size 12px
							line-height 30px
						.span1
							color #fba187
							border-right 1px solid rgba(255,255,255,.4)
						.span2
							color rgb(255,255,255)
				.prices
					width 220px
					height 100px
					position relative
					background-color rgb(255,255,255)
					z-index 2
					.price
						width 220px
						padding 10px 10px
						.money
							color #F40
							font-size 18px
							font-family verdana,arial
							line-height 12px
							font-weight bold
						.buy
							font-size 12px
							color #888
							float right
					.text
						width 210px
						height 36px
						margin-top 10px
						font-size 12px
						line-height 18px
						padding 0 10px
						a
							width 210px
							height 36px
							transition all .2s linear
							&:hover
								color rgb(255,68,0)
								text-decoration underline
					.icon
						width 220px
						height 80px
						.shop
							float left
							width 120px
							heigth 22px
							a
								width 120px
								height 22px
								.grade
									display block
									width 8px
									margin-top 10px 
									span
										display block
										width 8px
										height 2px
										margin-top 2px
										margin-left 10px
									.grade1
										background-color #f40
									.grade2
										background-color #00ba97
									.grade3
										background-color #f40
								.shopName
									display block
									font-size 12px
									color #888
									margin-top -11px
									margin-left 24px
									text-decoration underline
									transition all .2s linear
									&:hover
										color #f40 
						.location
							color #888
							font-size 13px
							float right
							margin-top 9px
							margin-right 8px
						.img
							float left
							width 220px
							height 20px
							margin-top 5px
							img
								margin-left 3px
						
								